@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Nunito:wght@400;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  background-color: #ececec;
  text-align: center;
}

.bold {
  font-weight: 900;
}

.underline-1,
.underline-2,
.circle {
  position: relative;
}

.underline-1::before {
  content: url("images/underline1.svg");
  position: absolute;
  bottom: -0.4em;
}

.underline-2::before {
  content: url("images/underline2.svg");
  position: absolute;
  bottom: -0.4em;
}

.circle::before {
  content: url("images/circle.svg");
  position: absolute;
  bottom: -0.75em;
  right: -0.45em;
  z-index: -1;
}

/* Heading */

.heading {
  font-size: 3.3rem;
  font-weight: 900;
  margin-block: 1em 0.2em;
  letter-spacing: -0.03em;
}

.sub-heading {
  margin: 0;
  color: #4a4e74;
  font-weight: 400;
  font-size: 1.25rem;
}

/* Dice */
.dice-container {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-gap: 2.5em;
  max-width: 420px;
  margin: 2.2em auto;
  padding: 3.5em;
  background-color: #1e1e1e;
  border-radius: 10px;
}

/* Die */
.die-container {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  cursor: pointer;
}

.die-img {
  width: 100%;
  object-fit: cover;
}

/* button */
.game-btn {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: #74cca7;
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px 0 black;
  padding: 0.5em;
  width: 200px;
  letter-spacing: 0.07em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  cursor: pointer;
  position: relative;
}

.game-btn:hover {
  box-shadow: none;
  top: 4px;
  left: 4px;
}

.roll-cnt {
  font-size: 1rem;
  margin-block: 1em;
}

/* tip */
.tip-img {
  display: block;
  margin: 3em auto;
  opacity: 75%;
}
